article {
    margin-top: 0;
    height: auto;
    flex-grow: 1;
    padding: 0 0 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    justify-content: stretch;
    text-align: justify;
}

.article-div {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.article-div:hover {
    background-color: #f1eeee;
}

.contain {
    font-weight: normal;
    text-align: left;
}

.contain img {
    width: 100%;
}

.contain button {
    padding: 5px 30px;
    border: 1.14423px solid #161616;
    border-radius: 5.72115px;
    left: 0;
    font-weight: 900;
}

.social-index {
    display: flex;
}


.social-index-contain {
    padding: 0 10px;
    margin: 2px;
    border-radius: 30px;
    display: flex;
}


.social-index-contain img {
    padding: 10px;
    width: 30px;
    height: 30px;
}


/* ==============================================================================
 ============================================================================== 
                                                 tab or medium devices   
 =============================================================================== 
 =============================================================================== */

@media screen and (min-width: 577px) and (max-width: 992px) {

    article {
        grid-template-columns: repeat(2, 1fr);
    }
}




/* ==============================================================================
 ============================================================================== 
                                                 phone or small devices   
 =============================================================================== 
 =============================================================================== */

@media screen and (max-width: 576px) {
    article {
        grid-template-columns: repeat(1, 1fr);
    }
}